* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  html,
  body {
    height: 100%;
  }
  
  #titulo {
    max-height: 100px;
    min-height: 85px;
    width: 100%;
    background-color:  #2D4D3E;
    border-bottom: 8px solid #406755;
    position: fixed;
  }
  
  #titulo h1 {
    color: white;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 65px;
  }

  article {
    background-image: url("ecologiafundo.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -229px;
    height: 100%;

  }
  
  #box {
    height: calc(80% - 220px);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0px 1fr;
    
  }
  
  #box button {
    position: relative;
    border: none;
    border-radius: 100px;
    border: 5px solid black;
    outline: none;
    padding: 10px;
    height: 80px;
    width: 350px;
    top: 50%;
    bottom: 50px;
    transform: translateY(70%);
    display: block;
    background-color:  #2D4D3E;
    color: white;
    cursor: pointer;
    --color: rgb(10, 25, 30);
    --color2: #00A97F;
    transition: .5s;
    overflow: hidden;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
    font-size: 20px;
  }

  #box button::after, .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: rgb(10, 25, 30);
   }

   #box button::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   #box button:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   #box button:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   #box button:hover {
    color: #45ad7d;
   }
   
   #box button:active {
    filter: brightness(.7);
    transform: scale(.98);
   }

  #btn-1,
  #btn-3,
  #btn-5 {
    margin-left: 10%;
    margin-top: 35px;
  }
  
  #btn-2,
  #btn-4,
  #btn-6 {
    float: right;
    margin-right: 10%;
    margin-top: 35px;
  }
  
  footer {
    background-color: #406755;
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    padding: 5px;
  }

  a{
    text-decoration: none;
  }

  #btn-8 {
    margin-right: 5%;
    margin-bottom: 5%;
  }
